/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
    - Css variable
	- Typography
# Components
    - Header
    - Hero
    - Card
	- Footer
# Effects
    - Overlay
    - animation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Css variable
--------------------------------------------- */
:root {
    /* Core surfaces */
    --bg: rgb(255, 255, 255);
    --navbar: rgb(243, 244, 246);
    --card: rgb(240, 240, 240);
    --surface: rgb(238, 242, 247);

    /* Header */
    --header-bg: rgb(14, 14, 104);

    /* Text */
    --text: rgb(11, 19, 32);
    --text-light: rgb(255, 255, 255);
    --muted: rgb(91, 100, 114);
    --subtle: rgb(156, 163, 175);

    /* Branding colors */
    --accent: rgb(0, 61, 153);
    --accent-hover: rgb(0, 82, 204);

    /* Market colors */
    --up: rgb(22, 163, 74);
    --down: rgb(220, 38, 38);
    --neutral: rgb(107, 114, 128);

    /* Borders & dividers */
    --border: rgb(229, 231, 235);
    --divider: rgb(209, 213, 219);
    --underline: rgb(252, 183, 0);

    /* Overlays */
    --overlay-dark: rgba(0, 0, 0, 0.55);
    --overlay-light: rgba(255, 255, 255, 0.75);

    /* Ticker specific */
    --ticker-bg: rgb(11, 19, 32); /* dark ticker strip */
    --ticker-text: rgb(255, 255, 255);
    --ticker-up: rgb(34, 197, 94);
    --ticker-up-hover: rgb(22, 163, 74);
    --ticker-down: rgb(239, 68, 68);
    --ticker-down-hover: rgb(185, 28, 28);

    /* Focus / accessibility */
    --focus: rgb(37, 99, 235);

    /* Fonts */
    --font-body: "Inter", system-ui, sans-serif;
    --font-heading: "Playfair Display", Georgia, "Times New Roman", serif;

    /* Font sizing*/
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-md: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.75rem;
    --fs-xxl: 2.5rem;

    /* Font weight */
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* Layout */
    --site-margin: 10vw;

    /* Effects */
    --radius: 16px;
    --radius-sm: 6px;
    --transition: 0.3s ease;

    /* Header */
    --header-height: 84px;

    /* Stock ticker */
    --stock-scroll-speed: 30s; /* normal speed */
    --stock-scroll-speed-hover: 60s; /* slower on hover */
}

/* Typography
--------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    font-size: var(--fs-md);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    letter-spacing: -0.02em;
    line-height: 1.2;
}

h1 {
    font-size: var(--fs-xxl);
}
h2 {
    font-size: var(--fs-xl);
}
h3 {
    font-size: var(--fs-lg);
}

p {
    color: var(--text);
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    background: var(--header-bg);
    position: sticky;
    padding: 0 1rem;
    max-height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.site-name {
    font-size: var(--fs-xl);
    color: var(--text-light);
    margin: 1rem 0;
}

.site-header-first-section {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-first-section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: var(--fs-sm);
}

.site-header-first-section-left a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: var(--fw-semibold);
}

.site-header-first-section-left a:hover {
    color: var(--underline);
    transition: color var(--transition);
}

.separator {
    color: var(--text-light);
    font-weight: var(--fw-semibold);
    cursor: default;
}

#sign-up-link {
    color: var(--header-bg);
    background-color: var(--bg);
    border-radius: var(--radius-sm);
    padding: 0.5rem 1rem;
}

#sign-up-link:hover {
    background-color: var(--card);
    transition: background-color var(--transition);
}

.nav a {
    color: var(--text-light);
    margin-left: 1.2rem;
    transition: color var(--transition);
}

.nav a:hover {
    color: var(--accent);
    padding: 0.5rem 1rem;
}

.header-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search-form input {
    width: 20rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--accent);
    color: var(--text-light);
}

.header-search-form input::placeholder {
    color: var(--text-light);
}

.header-search-form input:hover {
    background: var(--accent-hover);
    transition: background var(--transition);
    border: 2px solid var(--accent-hover);
}

.header-search-form input:focus {
    outline: none;
    color: var(--text-light);
}

.header-search-button {
    height: 2.5rem;
    background: var(--accent);
    color: var(--text-light);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background var(--transition);
}

.header-search-button:hover {
    background: var(--accent-hover);
}

/* Stock Ticker
--------------------------------------------- */

.stock-ticker-container {
    width: 100%;
    overflow: hidden;
    background: var(--bg);
    color: var(--text-light);
    padding: 1rem 0;
    top: var(--header-height);
}

.stock-tickers {
    display: flex;
    width: fit-content;
    --ease: linear;
    animation: scroll 30s var(--ease) infinite;
    transition: --ease 0.5s ease;
}

.tickers {
    display: flex;
    gap: 2rem;
    flex-shrink: 0;
}

.ticker-container {
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: var(--fw-semibold);
    min-width: 14rem;
    min-height: 6rem;
    background: var(--ticker-up);
    color: var(--text-light);
    padding: 10px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* top and bottom */
    transition: transform var(--transition), box-shadow var(--transition),
        background var(--transition);
}

.ticker-down {
    background: var(--down);
}

.ticker-container:hover,
.ticker-down:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: var(--ticker-up-hover);
}

.ticker-down:hover {
    background: var(--ticker-down-hover);
}

.stock-name {
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
}

.stock-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stock-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stock-change-value {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.7rem;
}

.ticker-date {
    text-align: start;
    font-size: var(--fs-xs);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.stock-ticker-container:hover .stock-tickers {
    animation-play-state: paused;
}

/* Quick Links
--------------------------------------------- */
.quick-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem var(--site-margin);
    font-size: var(--fs-lg);
    font-weight: var(--fw-semibold);
}

.quick-link-title {
    font-size: var(--fs-lg);
    padding: 0.5rem 1rem;
}

.quick-link {
    text-decoration: none;
    text-align: center;
    color: var(--accent);
    background-color: var(--card);
    border-radius: var(--radius-sm);
    width: 8rem;
    padding: 0.5rem 1rem;
}

.quick-link:hover {
    background-color: var(--accent);
    color: var(--text-light);
}

/* Hero
--------------------------------------------- */

/* Card
--------------------------------------------- */
.container {
    padding: 2rem;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 1.5rem;
}

.news-card {
    background: var(--card);
    border-radius: var(--radius);
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);
}

.news-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.news-card img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 1.5rem;
}

/* footer
--------------------------------------------- */
.site-footer {
    text-align: center;
    color: var(--muted);
}

/*--------------------------------------------------------------
# Effects
--------------------------------------------------------------*/

/* Overlay
--------------------------------------------- */
.overlay {
    background: #ffffff59;
}

/* Animation
--------------------------------------------- */
